@model ResidentalManager.Web.ViewComponents.ResidentsInfo.ResidentsInfoViewModel

<section>
    
    <h6>Total Residents: @Model.TotalResidents</h6>
    <h6>Total Pets: @Model.TotalPets</h6>
    <div class="text-uppercase">
        Gender
    </div>
    <h6>Males: @Model.Males</h6>
    <h6>Females: @Model.Females</h6>
    <div>
        Ages
    </div>
    <h6>Below age 18: @Model.Youth</h6>
    <h6>Between 18 and 65: @Model.MiddleAged</h6>
    <h6>Above 65: @Model.Old</h6>
    <div></div>
    
</section>