@model ResidentalManager.Web.ViewModels.Taxes.TaxReceiptViewModel
@{ ViewData["Title"] = "Taxes";}

<h1 class="col-md-6 offset-md-3">Receipt</h1>

<form method="post" class="col-md-6 offset-md-3">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="@Model.FullName"></label>
        <input asp-for="@Model.FullName" class="form-control">
        <span asp-validation-for="@Model.FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Title"></label>
        <input asp-for="@Model.Title" class="form-control">
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
    </div>
    <div class="form-group ">
        <label asp-for="@Model.Email"></label>
        <input asp-for="@Model.Email" class="form-control">
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Content"></label>
        <textarea rows="4" asp-for="@Model.Content" class="form-control"></textarea>
        <span asp-validation-for="@Model.Content" class="text-danger"></span>
    </div>

    <div>
        <input asp-for="@Model.FirstName" type="hidden" />
        <input asp-for="@Model.LastName" type="hidden" />
    </div>


    <div class="form-row">
        <div>
            <a href="/Taxes/All?RealEstateId=@ViewBag.realEstateId&pageNum=@ViewBag.pageNum" class="btn btn-primary">Go Back</a>

            <input type="submit" class="btn btn-primary" value="Send Email" />
        </div>
    </div>
</form>

@section PropertyLinks {
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Fees/All?realEstateId=@ViewBag.realEstateId">Fees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Properties_/All?realEstateId=@ViewBag.realEstateId">Properties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Expences/All?realEstateId=@ViewBag.realEstateId">Expences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Taxes/All?realEstateId=@ViewBag.realEstateId">Taxes</a>
    </li>
    <li class="nav nav-pills">
        <a class="nav-link text-info border" href="/Reports/Index?realEstateId=@ViewBag.realEstateId">Reports</a>
    </li>
}