@model IEnumerable<ResidentalManager.Web.ViewModels.Expences.AllExpencesViewModel>
@{ ViewData["Title"] = "Expences";}
<section class="py-4">
    <h1 class="text-uppercase text-center">Expences</h1>

    <div class="button-holder">
        <a href="/Expences/Create?realEstateId=@ViewBag.realEstateId" class="btn btn-primary text-uppercase">Create</a>
    </div>
    <hr />

    <div class="container">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Year</th>
                    <th scope="col">Month</th>
                    <th scope="col">Bill</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expence in Model)
                {
                    <tr>
                        <th scope="row">@expence.Year</th>
                        <td>@expence.Month</td>
                        <td>@expence.ExpenceType</td>
                        <td>@expence.Amount лв.</td>
                        <td>@expence.Description</td>
                        <td>
                            <div class="button-holder">
                                <a href="/Expences/Update?id=@expence.Id&realEstateId=@expence.RealEstateId" class="btn btn-warning btn-sm text-uppercase">Edit</a>
                            </div>
                        </td>
                        <td>
                            <div class="button-holder">
                                <a href="/Expences/Delete?id=@expence.Id&realEstateId=@expence.RealEstateId" class="btn btn-danger btn-sm text-uppercase">Delete</a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</section>

@section PropertyLinks {
    <li class="nav-item">
        <a class="nav-link text-dark" href="/PropertyHome/Index?realEstateId=@ViewBag.realEstateId">Main</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Fees/All?realEstateId=@ViewBag.realEstateId">Fees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Properties_/All?realEstateId=@ViewBag.realEstateId">Properties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Expences/All?realEstateId=@ViewBag.realEstateId">Expences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Taxes/All?realEstateId=@ViewBag.realEstateId">Taxes</a>
    </li>
}