@model ResidentalManager.Web.ViewModels.Expences.ExpencesListViewModel
@{ ViewData["Title"] = "Expences";}
<section class="py-4">
    <h1 class="text-uppercase text-center">Expences</h1>

    <div class="button-holder">
        <a href="/Expences/Create?realEstateId=@ViewBag.realEstateId" class="btn btn-primary text-uppercase">Create</a>
    </div>
    <hr />

    <div class="container">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Year</th>
                    <th scope="col">Month</th>
                    <th scope="col">Bill</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Description</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expence in Model.Expences)
                {
                    <tr>
                        <th scope="row">@expence.Year</th>
                        <td>@expence.Month</td>
                        <td>@expence.ExpenceType</td>
                        <td>@expence.Amount лв.</td>
                        <td>@expence.Description</td>
                        <td>
                            <div class="button-holder">
                                <a href="/Expences/Delete?id=@expence.Id&realEstateId=@expence.RealEstateId&pageNum=@Model.PageNumber" class="btn btn-danger btn-sm text-uppercase">Delete</a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <hr />
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
                <a class="page-link" asp-action="All" asp-route-realEstateId="@ViewBag.realEstateId" asp-route-pageNum="@Model.PreviousPageNumber">Previous</a>
            </li>
            @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item"><a class="page-link" asp-action="All" asp-route-realEstateId="@ViewBag.realEstateId" asp-route-pageNum="@i">@i</a></li>
                }
            }
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    @Model.PageNumber
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
            {
                if (i <= Model.PagesCount)
                {
                    <li class="page-item"><a class="page-link" asp-action="All" asp-route-realEstateId="@ViewBag.realEstateId" asp-route-pageNum="@i">@i</a></li>
                }
            }
            <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
                <a class="page-link" asp-action="All" asp-route-realEstateId="@ViewBag.realEstateId" asp-route-pageNum="@Model.NextPageNumber">Next</a>
            </li>
        </ul>
    </nav>

</section>

@section PropertyLinks {
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Fees/All?realEstateId=@ViewBag.realEstateId">Fees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Properties_/All?realEstateId=@ViewBag.realEstateId">Properties</a>
    </li>
    <li class="nav nav-pills">
        <a class="nav-link text-info border" href="/Expences/All?realEstateId=@ViewBag.realEstateId">Expences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Taxes/All?realEstateId=@ViewBag.realEstateId">Taxes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Reports/Index?realEstateId=@ViewBag.realEstateId">Reports</a>
    </li>
}