@model ResidentalManager.Web.ViewModels.Administration.Dashboard.UsersViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1 class="col-md-6 offset-md-3">Update User Property</h1>

<form method="post" class="col-md-6 offset-md-3">
    <div asp-validation-summary="All"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.UserName"></label>
            <input asp-for="@Model.UserName" class="form-control">
            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Email"></label>
            <input asp-for="@Model.Email" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.RealEstateName"></label>
            <input asp-for="@Model.RealEstateName" class="form-control" />
            
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Property" class="col-md-12"></label>
            <div class="form-group">
                <select asp-for="@Model.PropertyId" class="form-control "
                        asp-items="@(new SelectList(Model.Property,"Id","Name"))"></select>

                <span asp-validation-for="@Model.Property" class="text-danger"></span>
            </div>
        </div>
        <input asp-for-userId="@Model.Id" type="hidden" />

    </div>

    <div class="form-row">
        <div>
           
            <input type="submit" class="btn btn-primary" value="Update" />
        </div>
    </div>
</form>