@model ResidentalManager.Web.ViewComponents.YearFinanacial.YearFinancialViewModel

<section>
    <h4 class="text-uppercase text-center ">FINANCIAL INFORMATION FOR YEAR  @DateTime.UtcNow.Year </h4>
    <p></p>
    <p></p>
    <div class="container my-4">
        <div class="row justify-content-md-center">
            <div class="col col-md-auto">
                <div>Income from taxes:</div>
                <div>Total Expences:</div>
                <div class="font-weight-bold">TOTAL INCOME:</div>


            </div>
            <div class="col-md-auto">
                <div>@Model.IncomeTaxes лв.</div>
                <div>@Model.Expences лв.</div>
                <div class="font-weight-bold">@Model.TotalCurrentYear лв.</div>


            </div>
        </div>
        <div class="container my-lg-5 ">
            <div class="row justify-content-md-center font-weight-bold">
                <div class="col col-md-auto font-weight-bolder">
                    <div>TOTAL CASH:</div>

                </div>
                <div class="col-md-auto font-weight-bolder">
                    <div>@Model.Total лв.</div>
                </div>
            </div>
        </div>

    </div>


</section>