@model IEnumerable<ResidentalManager.Web.ViewModels.Estates.AllEstatesViewModel>
@{ ViewData["Title"] = "Real Estates";}
<section class="py-4">

    <h1 class="text-uppercase text-center">Real Estates</h1>

    <div class="button-holder">
        <a href="/Estates/Create" class="btn btn-primary text-uppercase">Create</a>
    </div>

    <hr />
    <div class="container">

        <table class="table bg-transparent border">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Floors</th>
                    <th scope="col">Select</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var estate in Model)
                {
                <tr>

                    <th scope="row">@estate.Name</th>
                    <td>
                        @estate.Region
                        @estate.Municipality
                        @estate.Town
                        @estate.PostCode
                        @estate.ResidentalArea
                        @estate.StreetName
                        @estate.StreetNumber
                        @estate.BuildingNumber
                        @estate.EntranceNumber
                    </td>
                    <td>@estate.Floors</td>
                    <td>
                        <div class="button-holder">
                            <a href="/Fees/All?realEstateId=@estate.Id" data-toggle="tooltip" data-placement="bottom" title="Choose RealEstate" class="btn  btn-success btn-sm text-uppercase">Use</a>
                        </div>
                    </td>
                    <td>
                        <div class="button-holder">
                            <a href="/Estates/Update?id=@estate.Id" class="btn btn-warning btn-sm text-uppercase">Edit</a>
                        </div>
                    </td>
                    <td>
                        <div class="button-holder">
                            <a href="/Estates/Delete?id=@estate.Id" class="btn btn-danger btn-sm text-uppercase">Delete</a>
                        </div>
                    </td>


                </tr>
                }
            </tbody>
        </table>
    </div>

</section>

