@model IEnumerable<ResidentalManager.Web.ViewModels.Residents.AllResidentsViewModel>
<section class="py-5">
    <div class="container">

        <div class="row">
            <div>
                <a href="/Properties_/All?realEstateId=@ViewData["realEstateId"]" class="btn btn-primary text-uppercase">Go Back</a>
            </div>
            <div>
                <a href="/Residents/Create?PropertyId=@ViewData["propertyId"]&realEstateId=@ViewData["realEstateId"]" class="btn btn-primary text-uppercase">Create</a>
            </div>
        </div>
        <h1 style="margin: 2%; text-align: center;">Residents</h1>
        <div style="padding: 5%;">


            <table class="table text-sm-center" >
                <thead class="table-dark">
                    <tr class="col-sm-auto">
                        <th scope="col">Name</th>
                        <th>Birthdate</th>
                        <th>Telephone</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>ResidentType</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var res in Model)
                    {
                        <tr class="col-sm-auto">
                            <th scope="row">@res.FirstName @res.MiddleName @res.LastName</th>
                            <td>@res.DateOfBirth.ToString("d")</td>
                            <td>@res.Telephone</td>
                            <td>@res.Email</td>
                            <td>@res.Gender</td>
                            <td>@res.ResidentType</td>
                            <td>
                                <div class="button-holder">
                                    <a href="/Residents/Update?id=@res.Id&propertyId=@res.PropertyId&realEstateId=@ViewData["realEstateId"]" class="btn btn-info btn-sm text-uppercase">Edit</a>
                                </div>
                            </td>
                            <td>
                                <div class="button-holder">
                                    <a href="/Residents/Delete?id=@res.Id&propertyId=@res.PropertyId&realEstateId=@ViewData["realEstateId"]" class="btn btn-info btn-sm text-uppercase">Delete</a>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section ResidentsLink {
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Properties_/All?realEstateId=@ViewData["realEstateId"]">Properties</a>
    </li>
}