@model IEnumerable<ResidentalManager.Web.ViewModels.Residents.AllResidentsViewModel>
<section class="py-4">
    <h1 class="text-uppercase text-center">Residents</h1>


    <div class="row">
        <div>
            <a href="/Properties_/All?realEstateId=@ViewData["realEstateId"]" class="btn btn-primary text-uppercase">Go Back</a>
        </div>
        <div>

        </div>
        <div>
            <a href="/Residents/Create?PropertyId=@ViewData["propertyId"]&realEstateId=@ViewData["realEstateId"]" class="btn btn-primary text-uppercase">Create</a>
        </div>
    </div>

    <hr />

    <div class="container">
        <table class="table">
            <thead class="thead-dark text-center">
                <tr class="text-sm-center">
                    <th scope="col">Name</th>
                    <th>Birthdate</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>ResidentType</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var res in Model)
                {
                    <tr class="text-sm-left">
                        <th scope="row">@res.FirstName @res.MiddleName @res.LastName</th>
                        <td>@res.DateOfBirth?.ToString("d")</td>
                        <td>@res.Telephone</td>
                        <td>@res.Email</td>
                        <td>@res.Gender</td>
                        <td>@res.ResidentType</td>
                        <td>
                            <div class="button-holder ">
                                <a href="/Residents/Update?id=@res.Id&propertyId=@res.PropertyId&realEstateId=@ViewData["realEstateId"]" class="btn btn-sm text-uppercase btn-warning">Edit</a>
                            </div>
                        </td>
                        <td>
                            <div class="button-holder">
                                <a href="/Residents/Delete?id=@res.Id&propertyId=@res.PropertyId&realEstateId=@ViewData["realEstateId"]" class="btn btn-sm btn-danger text-uppercase">Delete</a>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</section>

@section PropertyLinks {
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Fees/All?realEstateId=@ViewBag.realEstateId">Fees</a>
    </li>
    <li class="nav nav-pills">
        <a class="nav-link text-info border" href="/Properties_/All?realEstateId=@ViewBag.realEstateId">Properties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Expences/All?realEstateId=@ViewBag.realEstateId">Expences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Taxes/All?realEstateId=@ViewBag.realEstateId">Taxes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Reports/Index?realEstateId=@ViewBag.realEstateId">Reports</a>
    </li>
}

