@model IEnumerable<ResidentalManager.Web.ViewModels.Properties_.AllPropertiesViewModel>
@{ ViewData["Title"] = "Residents";}
<section class="py-4">
    <h1 class="text-uppercase text-center">Properties</h1>
    <div class="row">
        <div class="col">
            <a href="/Properties_/Create?realEstateId=@ViewData["realEstateId"]" class="btn btn-primary text-uppercase">Create</a>
        </div>
    </div>
    <hr />
    <div class="container">

        @*<div class="row">*@
            <div class="col">
                <h3 class="card-header text-uppercase text-center">Private property</h3>
                <table class="table ">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">Floor</th>
                            <th scope="col">Type</th>
                            <th scope="col">PPL</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Residents</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prop in Model.Where(x => x.PropertyOwnership == ResidentalManager.Data.Models.Enum.PropertyOwnership.Private))
                        {
                            <tr class="text-center">
                                <th scope="row">@prop.Number</th>
                                <td>@prop.Floor</td>
                                <td>@prop.PropertyType</td>
                                <th>@prop.Residents</th>
                                <td>
                                    <div class="button-holder">
                                        <a href="/Properties_/Update?id=@prop.Id&realEstateId=@prop.RealEstateId" class="btn btn-warning btn-sm text-uppercase">Edit</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="button-holder">
                                        <a href="/Properties_/Delete?id=@prop.Id&realEstateId=@prop.RealEstateId" class="btn btn-danger btn-sm text-uppercase">Delete</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="button-holder">
                                        <a href="/Residents/All?PropertyId=@prop.Id&realEstateId=@prop.RealEstateId" class="btn btn-info btn-sm text-uppercase">View</a>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        <hr />
            <div class="col">
                <h3 class="card-header text-uppercase text-center">Common property</h3>
                <table class="table">

                    <thead class="thead-dark text-center">
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">Floor</th>
                            <th scope="col">Type</th>
                            <th scope="col">PPL</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Residents</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prop in Model.Where(x => x.PropertyOwnership == ResidentalManager.Data.Models.Enum.PropertyOwnership.CommonProperty))
                        {
                            <tr class="text-center">
                                <th scope="row">@prop.Number</th>
                                <td>@prop.Floor</td>
                                <td>@prop.PropertyType</td>
                                <td>@prop.Residents</td>
                                <td>
                                    <div class="button-holder">
                                        <a href="/Properties_/Update?id=@prop.Id&realEstateId=@prop.RealEstateId" class="btn btn-secondary btn-sm text-uppercase">Edit</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="button-holder">
                                        <a href="/Properties_/Delete?id=@prop.Id&realEstateId=@prop.RealEstateId" class="btn btn-danger btn-sm text-uppercase">Delete</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="button-holder">
                                        <a href="/Residents/All?PropertyId=@prop.Id&realEstateId=@prop.RealEstateId" class="btn btn-info btn-sm text-uppercase">View</a>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        @*</div>*@
    </div>

</section>

@section PropertyLinks {
    <li class="nav-item">
        <a class="nav-link text-dark" href="/PropertyHome/Index?realEstateId=@ViewBag.realEstateId">Main</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Fees/All?realEstateId=@ViewBag.realEstateId">Fees</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Properties_/All?realEstateId=@ViewBag.realEstateId">Properties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Expences/All?realEstateId=@ViewBag.realEstateId">Expences</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Taxes/All?realEstateId=@ViewBag.realEstateId">Taxes</a>
    </li>
}